*.pdf
.DS_Store
*.zip
*.sublime-project
osm-auckland.xml
osm-auckland.json
auckland.osm
auckland.json
auckland-sample.osm
DataWranglingMongoDB/Project2/auckland.json
data/
DataWranglingMongoDB/data
dataset/
